body{
    margin: 0;
    overflow: hidden;
    font-size:14;
}
.container{
    height: 100vh;
    
}
.title-bar{
    height: 5vh;
    background-color: #026e39;
    display:flex;
    justify-content: center;
    align-items: center;
    
    color: white;
}
.menu-bar{
    height: 5vh;
    background-color:#026e39;
    display:flex;
    
}

.menu-item{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    color: white;

}
.menu-item:hover{
    background-color:#044727;
    cursor: pointer;
}

.menu-item.selected{
    background-color: white;
    color:#026e39;
}
.menu-item.selected:hover{
    background-color:white;
    cursor:default;
}


.menu-icon-bar{
    height: 6vh;
    background-color:rgb(240, 238, 238);
    display:flex;
    align-items: center;
}

.menu-icon {
    padding-left: 10px;
    padding-right: 10px;
    height:80%;
    display:flex;
    align-items: center;
}
.menu-icon:hover{
    background-color:lightgray;
    cursor:pointer;

}
.font-family-selector{
   
    width: 150px;
}
.selector{
    font-size:18px;
    height: 25px;
   

}
.selector option{
    font-size:18px;
}
.formula-bar{
    height: 6vh;
    
}
.data-container{
    height: 74vh;
    display:flex;
    flex-wrap: wrap;
    
}
.select-all{
    height:30px;
    width:30px;
    border:1px solid green;
}
.column-name-container{
    width:calc(100vw - 30px);
    height: 30px;
    border:1px solid yellow;
}
.row-name-container{
    height:calc(74vh - 30px);
    width: 30px;
    border:1px solid blue;
}
.input-cell-container{
    width:calc(100vw - 30px);
    height: calc(74vh - 30px);
    border:1px solid red;
}

.sheet-container{
    height:4vh;
    display:flex;
    align-items: center;
  
    
}
.scroller{
    width:70px;
}
.icon-left-scroll,.icon-right-scroll{
    font-size:40px;
    
}
.icon-add{
    color:#06502c;
    width:40px;
}
.icon-add:hover{
    cursor:pointer;
    transform:scale(1.2);
}
.sheet-tab{
    border-bottom: 4px solid #026e39;
    padding-left: 10px;
    padding-right: 10px;
    display:flex;
    width:70px;
    align-items:center;
    justify-content:center;
    font-weight:bold ;
}
.sheet-tab-container{
    border: 4px solid lightgray;
    width:calc(100vw-110px);
}